@{
    ViewData["Title"] = "Home Page";
}

<div id="app" style=" ">
    <router-view></router-view>
    
</div>
<style>
    body{
         background-image: url('../wwwroot/OIG1.0CB9ZzXs6xTeIr5I.jpeg');
    }
</style>
<script src="https://unpkg.com/vue"></script>
<script src="~/dist/bundle.js"></script>